<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008610860050-edu9rfad1lfaknldc79tabl5vvnmh86g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008610860050-edu9rfad1lfaknldc79tabl5vvnmh86g</string>
	<key>API_KEY</key>
	<string>AIzaSyBEmrphtQ4oGlCyxfkdLTRKPzmPbEp8fP8</string>
	<key>GCM_SENDER_ID</key>
	<string>1008610860050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.funtimesmathsaround</string>
	<key>PROJECT_ID</key>
	<string>funtimesmathsaround</string>
	<key>STORAGE_BUCKET</key>
	<string>funtimesmathsaround.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008610860050:ios:294f576500a300b0c0cccb</string>
	<key>DATABASE_URL</key>
	<string>https://funtimesmathsaround-default-rtdb.firebaseio.com</string>
</dict>
</plist>
